In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key

from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-07-26 15:26:07,-23.1203,-134.9692,74.80,74,100,13.18
1,1,Sept-Iles,CA,2022-07-26 15:26:08,50.2001,-66.3821,66.72,80,75,14.97
2,2,Khorixas,NaN,2022-07-26 15:26:08,-20.3667,14.9667,81.25,14,4,10.65
3,3,Punta Arenas,CL,2022-07-26 15:24:38,-53.1500,-70.9167,33.91,80,75,12.66
4,4,Bengkulu,ID,2022-07-26 15:26:09,-3.8004,102.2655,77.13,86,99,3.15

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

    
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities2_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities2_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-07-26 15:26:07,-23.1203,-134.9692,74.80,74,100,13.18
1,1,Sept-Iles,CA,2022-07-26 15:26:08,50.2001,-66.3821,66.72,80,75,14.97
4,4,Bengkulu,ID,2022-07-26 15:26:09,-3.8004,102.2655,77.13,86,99,3.15
5,5,Gornopravdinsk,RU,2022-07-26 15:26:10,60.0500,69.9000,64.65,57,55,5.08
6,6,Avarua,CK,2022-07-26 15:26:10,-21.2078,-159.7750,69.85,73,75,8.05
8,8,Kapaa,US,2022-07-26 15:26:11,22.0752,-159.3190,79.12,84,75,17.27
9,9,Linxia,CN,2022-07-26 15:26:11,35.6003,103.2064,62.94,77,37,2.95
10,10,Port Alfred,ZA,2022-07-26 15:26:12,-33.5906,26.8910,64.18,70,1,15.73
14,14,Znamenskoye,RU,2022-07-26 15:26:14,57.1281,73.8282,70.43,87,32,4.41
17,17,Saint George,US,2022-07-26 15:24:52,37.1041,-113.5841,77.43,75,0,3.44

In [11]:
## preferred_cities_df = preferred_cities2_df.dropna()

In [12]:
## preferred_cities_df.count()

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities2_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Rikitea      PF     74.80 -23.1203 -134.9692
1        Sept-Iles      CA     66.72  50.2001  -66.3821
4         Bengkulu      ID     77.13  -3.8004  102.2655
5   Gornopravdinsk      RU     64.65  60.0500   69.9000
6           Avarua      CK     69.85 -21.2078 -159.7750
8            Kapaa      US     79.12  22.0752 -159.3190
9           Linxia      CN     62.94  35.6003  103.2064
10     Port Alfred      ZA     64.18 -33.5906   26.8910
14     Znamenskoye      RU     70.43  57.1281   73.8282
17    Saint George      US     77.43  37.1041 -113.5841

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except Exception as e:
        print(e)

list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range
list index out of range

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,74.80,-23.1203,-134.9692,People ThankYou
1,Sept-Iles,CA,66.72,50.2001,-66.3821,Comfort Inn
4,Bengkulu,ID,77.13,-3.8004,102.2655,Grage Hotel Bengkulu
5,Gornopravdinsk,RU,64.65,60.0500,69.9000,Hostel
6,Avarua,CK,69.85,-21.2078,-159.7750,Paradise Inn
8,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Linxia,CN,62.94,35.6003,103.2064,GreenTree Inn Linxia Autonomous Prefecture Lin...
10,Port Alfred,ZA,64.18,-33.5906,26.8910,The Halyards Hotel
14,Znamenskoye,RU,70.43,57.1281,73.8282,"Gostinitsa ""Kolos"""
17,Saint George,US,77.43,37.1041,-113.5841,Best Western Plus Abbey Inn

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]